REPLICATE_API_KEY=

# Optional, if you're doing rate limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Optional, if you're doing auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=9g6uZuHKvMeLf0lEnHiv6bSZwqtZLY81cfYM5iInEoU
GOOGLE_CLIENT_ID=1007813170949-19kg257ti8pblg1o0fvfcpe81qqpaua5.apps.googleusercontent.com 
GOOGLE_CLIENT_SECRET=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 
DATABASE_URL=
SHADOW_DATABASE_URL=
